* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
header {
  width: 100vw;
  height: 100vh;
  background-color: #d4eaf5;
  display: flex;
}
.header-left-container {
  flex: 0.5;
  position: relative;
}
.header-right-container {
  flex: 0.5;
  background-image: url('../assets/table.jpeg');
  background-position: center;
  background-size: cover;
}
nav {
  height: 10vh;
  display: flex;
  align-items: end;
  justify-content: space-evenly;
}
nav > a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
.left-content {
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  position: absolute;
  top: 25%;
  left: 5%;
}
.left-content > .head {
  font-size: 2.8rem;
  color: #052c43;
  margin-right: 39rem;
}
.left-content > h1 {
  color: #052c43;
  font-size: 5.2rem;
}
.left-content > h1::before {
  content: 'Best Design Of';
  height: 0.5rem;
  font-size: 1.9rem;
  display: block;
  margin-bottom: 0.8rem;
}
.left-content > p {
  color: #838383;
  text-align: justify;
  line-height: 1.2rem;
  font-size: 1.6rem;
}
.left-content > a {
  text-decoration: none;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 2rem;
  text-transform: uppercase;
  color: #648d9f;
  font-size: 1.4rem;
}
.left-content > a:hover {
  background-color: #052c43;
  color: white;
  transition: 0.3s;
}
.carousel-container {
  width: 90vw;
  margin: auto;
  margin-top: 5vh;
}
.d-block {
  height: 85vh;
}
footer {
  width: 100vw;
  height: 50vh;
  background-color: #d4eaf5;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
}
.first-footer {
  flex: 0.8;
  display: flex;
}
.first-footer > div {
  flex: 0.25;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  gap: 1rem;
}
.first-footer > div > h4 {
  font-size: 1.8rem;
  font-weight: bold;
}
.second-footer {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}
.main-content {
  height: 100vh;
  width: 100vw;
  margin-top: 5vh;
  display: flex;
}
.main-content-left {
  flex: 0.5;
  background-image: url('../assets/steph.jpg');
  background-size: cover;
  background-position: center;
}
.main-content-right {
  flex: 0.5;
  background-color: #d6d9d2;
  position: relative;
}

.main-content-description {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 80%;
  position: absolute;
  top: 30%;
}
.main-content-description > button {
  background-color: #648d9f;
  font-size: 1.2rem;
  color: black;
  border-radius: 1.5rem;
  padding: 1rem 2.2rem;
  border: none;
  width: fit-content;
}
.main-content-heading {
  color: #77a1b6;
  text-transform: uppercase;
  font-size: 1.7rem;
}
.main-content-description-heading {
  font-size: 5.2rem;
  line-height: 4.5rem;
}
.main-content-description-paragraph {
  font-size: 1.6rem;
  color: #838383;
}
